@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,300&display=swap');

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #457B9D;

  font-family: "Open Sans", sans-serif;
  color: #F1FAEE;
  font-size: 24px;
}

#grid-container {
  height: 550px;
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #A8DADC;
  border-radius: 25px;
}

#grid {
  height: 500px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.button {
  margin: 36px;
  border: 0px;
  height: 50px;
  width: 250px;
  font-size: 18px;
  color: #F1FAEE;
  background-color: #E63946;
  border-radius: 15px;
}

.button:hover {
  font-weight: bold;
}

.button:active {
  font-weight: bold;
  background-color: #E63946;
  border: medium solid #F1FAEE;
}